<md-card>
  <form [formGroup]= "form" (ngSubmit) = "onSubmit()">
    <md-input-container>
      <input mdInput style="width:350px" [ngClass] = "{'error': isValid('firstName')}" placeholder="First Name" formControlName = "firstName">
    </md-input-container>
    <md-input-container>
      <input mdInput style="width:350px" [ngClass] = "{'error': isValid('lastName')}" placeholder="Last Name" formControlName = "lastName">
    </md-input-container>
    <md-input-container>
      <input mdInput style="width:350px" [ngClass] = "{'error': isValid('email')}" type="email" placeholder="Email" formControlName = "email">
    </md-input-container>
    <md-input-container>
      <input mdInput style="width:350px" [ngClass] = "{'error': isValid('password')}" type="password" placeholder="Password" formControlName = "password">
    </md-input-container>
    <md-input-container>
      <input mdInput style="width:350px" [ngClass] = "{'error': isValid('confirmPassword')}" type="password" placeholder="Confirm Password" formControlName = "confirmPassword">
    </md-input-container>
    <br>
    <span *ngIf="form.errors?.mismatchedFields">Passwords mismatch</span>
    <br>
    <button md-raised-button color="primary">Register</button>
  </form>
</md-card>
